Repository jsamuelsen11/go-service-template: changes, and which lefthook commands are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, gofumpt, actionlint, vacuum, markdownlint, tomll, misspell, prettier, shellcheck, hadolint

lefthook.yml:

# Lefthook configuration for git hooks
# Install: go tool lefthook install
# Run manually: go tool lefthook run pre-commit

pre-commit:
  parallel: true
  commands:
    # === Go tools (built-in) ===
    go-mod-tidy:
      glob: "*.go"
      run: go mod tidy

    # === Go tools (via go tool) ===
    golangci-lint:
      glob: "*.go"
      run: go tool golangci-lint run --fix --config=.golangci.yml ./...
      stage_fixed: true

    gofumpt:
      glob: "*.go"
      run: go tool gofumpt -w {staged_files}
      stage_fixed: true

    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: go tool actionlint {staged_files}

    gitleaks:
      run: go tool gitleaks protect --staged --no-banner

    vacuum:
      glob: "*openapi*.{yaml,yml,json}"
      run: go tool vacuum lint -r .spectral.yaml {staged_files}

    markdownlint:
      glob: "*.md"
      run: npx --yes markdownlint-cli@0.44.0 {staged_files}

    tomll:
      glob: "*.toml"
      run: go tool tomll {staged_files}
      stage_fixed: true

    misspell:
      glob: "*.{go,md,yaml,yml,json,toml,sh}"
      run: go tool misspell -w {staged_files}
      stage_fixed: true

    # === Formatting (npx) ===
    prettier:
      glob: "*.{yaml,yml,json,md}"
      exclude: "^(\\.github/.*|\\.beads/.*)$"
      run: npx --yes prettier --write {staged_files}
      stage_fixed: true

    # === Linting (npx) ===
    shellcheck:
      glob: "*.sh"
      run: npx --yes shellcheck {staged_files}

    # === Linting (Docker) ===
    hadolint:
      glob: "Dockerfile*"
      run: docker run --rm -i hadolint/hadolint < {staged_files}

commit-msg:
  commands:
    commitlint:
      run: go tool commitlint lint --message {1}

pre-push:
  parallel: true
  commands:
    go-test:
      glob: "*.go"
      run: go tool gotestsum --format ${TEST_FORMAT:-testdox} -- ./...

    go-build:
      glob: "*.go"
      run: go build ./...

feat(acl): add trace logging to quote client
  internal/adapters/clients/acl/quote_client.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell

refactor: remove caching from project
  .mockery.yaml
  docs/TROUBLESHOOTING.md
  docs/playbook/adding-custom-metrics.md
  docs/playbook/adding-health-check.md
  docs/playbook/writing-benchmark-tests.md
  internal/ports/mocks/mock_Cache.go
  internal/ports/services.go
  test/benchmark/handler_bench_test.go
Due: go-mod-tidy, golangci-lint, gofumpt, markdownlint, misspell, prettier

feat(context): add Request Context Pattern
  docs/ARCHITECTURE.md
  docs/PATTERNS.md
  docs/adr/0001-hexagonal-architecture.md
  docs/playbook/README.md
  docs/playbook/using-request-context.md
  internal/app/context/actions.go
  internal/app/context/data_provider.go
  internal/app/context/doc.go
  internal/app/context/errors.go
  internal/app/context/request_context.go
  internal/app/context/request_context_test.go
Due: go-mod-tidy, golangci-lint, gofumpt, markdownlint, misspell, prettier

docs(logging): add logging strategy guide
  docs/ARCHITECTURE.md
  docs/LOGGING.md
Due: markdownlint, misspell, prettier

docs(ddd): add DDD concepts section
  docs/ARCHITECTURE.md
Due: markdownlint, misspell, prettier

docs: add domain extensibility patterns
  docs/ARCHITECTURE.md
Due: markdownlint, misspell, prettier

feat(mocks): centralize to internal/mocks
  .mockery.yaml
  internal/mocks/mock_EventPublisher.go
  internal/mocks/mock_ExampleClient.go
  internal/mocks/mock_ExampleRepository.go
  internal/mocks/mock_FeatureFlags.go
  internal/mocks/mock_HealthChecker.go
  internal/mocks/mock_HealthRegistry.go
  internal/mocks/mock_QuoteClient.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell, prettier

test(domain): add error type tests
  .golangci.yml
  internal/domain/errors_test.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell, prettier

test(app): add service unit tests
  internal/app/quote_service_test.go
  internal/app/service_test.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell

test(handlers): add health and quote tests
  internal/adapters/http/handlers/health_test.go
  internal/adapters/http/handlers/quote_test.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell

feat(test): add GoDog report generation
  .gitignore
  Taskfile.yml
  internal/app/context/request_context_test.go
  test/integration/suite_test.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell, prettier

chore: exclude mocks from coverage
  Taskfile.yml
Due: misspell, prettier

test: add comprehensive tests for 90%+ coverage
  Taskfile.yml
  internal/adapters/clients/acl/quote_client_test.go
  internal/adapters/http/dto/dto_test.go
  internal/adapters/http/http_test.go
  internal/adapters/http/middleware/middleware_test.go
  internal/platform/logging/logging_test.go
  internal/ports/ports_test.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell, prettier

fix(security): bump Go to 1.25.7
  CONTRIBUTING.md
  README.md
  docs/TROUBLESHOOTING.md
  go.mod
Due: markdownlint, misspell, prettier

feat: add govulncheck pre-push hook
  lefthook.yml
Due: misspell, prettier

feat(lint): enable test-only linters
  .golangci.yml
  internal/adapters/clients/acl/quote_client_test.go
  internal/adapters/clients/acl/translator_test.go
  internal/adapters/clients/client_test.go
  internal/adapters/http/dto/dto_test.go
  internal/adapters/http/handlers/quote_test.go
  internal/adapters/http/middleware/context_test.go
  internal/domain/errors_test.go
  internal/platform/config/config_test.go
  internal/platform/config/validation_test.go
  internal/ports/ports_test.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell, prettier

refactor: rename test:integration to smoke
  .idea/runConfigurations/Task__test_integration.xml
  CONTRIBUTING.md
  README.md
  Taskfile.yml
  docs/TROUBLESHOOTING.md
  docs/playbook/README.md
  docs/playbook/writing-integration-tests.md
Due: markdownlint, misspell, prettier

fix: rename IDE run config filename
  .idea/runConfigurations/Task__test_integration_smoke.xml
Due: none

feat(tooling): add standard Go analysis tools
  .gitignore
  Taskfile.yml
  go.mod
  go.sum
Due: misspell, prettier

fix(tooling): address review feedback
  Taskfile.yml
Due: misspell, prettier

fix: correct GitHub URLs to match repo owner
  Dockerfile
  README.md
Due: markdownlint, misspell, prettier, hadolint

fix: enable octocov badge generation
  .octocov.yml
Due: misspell, prettier

fix(ci): don't fail CI on badge push
  .github/workflows/ci.yaml
Due: actionlint, misspell

fix(ci): push badge via API to octocov branch
  .github/workflows/ci.yaml
  .octocov.yml
Due: actionlint, misspell, prettier

docs: feature release strategy research
  docs/research/feature-release-strategy.md
Due: markdownlint, misspell, prettier
