Repository jsamuelsen11/go-service-template: changes, and which lefthook commands are due for each by the changed paths.
All: go-mod-tidy, golangci-lint, gofumpt, actionlint, vacuum, markdownlint, tomll, misspell, prettier, shellcheck, hadolint

lefthook.yml:

# Lefthook configuration for git hooks
# Install: go tool lefthook install
# Run manually: go tool lefthook run pre-commit

pre-commit:
  parallel: true
  commands:
    # === Go tools (built-in) ===
    go-mod-tidy:
      glob: "*.go"
      run: go mod tidy

    # === Go tools (via go tool) ===
    golangci-lint:
      glob: "*.go"
      run: go tool golangci-lint run --fix --config=.golangci.yml ./...
      stage_fixed: true

    gofumpt:
      glob: "*.go"
      run: go tool gofumpt -w {staged_files}
      stage_fixed: true

    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: go tool actionlint {staged_files}

    gitleaks:
      run: go tool gitleaks protect --staged --no-banner

    vacuum:
      glob: "*openapi*.{yaml,yml,json}"
      run: go tool vacuum lint -r .spectral.yaml {staged_files}

    markdownlint:
      glob: "*.md"
      run: npx --yes markdownlint-cli@0.44.0 {staged_files}

    tomll:
      glob: "*.toml"
      run: go tool tomll {staged_files}
      stage_fixed: true

    misspell:
      glob: "*.{go,md,yaml,yml,json,toml,sh}"
      run: go tool misspell -w {staged_files}
      stage_fixed: true

    # === Formatting (npx) ===
    prettier:
      glob: "*.{yaml,yml,json,md}"
      exclude: "^(\\.github/.*|\\.beads/.*)$"
      run: npx --yes prettier --write {staged_files}
      stage_fixed: true

    # === Linting (npx) ===
    shellcheck:
      glob: "*.sh"
      run: npx --yes shellcheck {staged_files}

    # === Linting (Docker) ===
    hadolint:
      glob: "Dockerfile*"
      run: docker run --rm -i hadolint/hadolint < {staged_files}

commit-msg:
  commands:
    commitlint:
      run: go tool commitlint lint --message {1}

pre-push:
  parallel: true
  commands:
    go-test:
      glob: "*.go"
      run: go tool gotestsum --format ${TEST_FORMAT:-testdox} -- ./...

    go-build:
      glob: "*.go"
      run: go build ./...

feat: implement main.go with DI and shutdown
  cmd/service/.gitkeep
  cmd/service/main.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell

feat: add quote feature with full stack demo
  cmd/service/main.go
  internal/adapters/clients/acl/quote_client.go
  internal/adapters/http/dto/errors.go
  internal/adapters/http/handlers/quote.go
  internal/adapters/http/router.go
  internal/app/quote_service.go
  internal/domain/quote.go
  internal/ports/services.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell

fix: add nil guards to quote service and client
  internal/adapters/clients/acl/quote_client.go
  internal/app/quote_service.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell

docs: add quote endpoints to OpenAPI spec
  api/openapi.yaml
Due: vacuum, misspell, prettier

feat: add testing infrastructure
  .mockery.yaml
  Taskfile.yml
  go.mod
  internal/ports/mocks/mock_Cache.go
  internal/ports/mocks/mock_EventPublisher.go
  internal/ports/mocks/mock_FeatureFlags.go
  internal/ports/mocks/mock_HealthChecker.go
  internal/ports/mocks/mock_HealthRegistry.go
  internal/ports/mocks/mock_QuoteClient.go
  test/benchmark/handler_bench_test.go
  test/features/health.feature
  test/integration/suite_test.go
  test/load/k6/health.js
Due: go-mod-tidy, golangci-lint, gofumpt, misspell, prettier

fix: improve testing infrastructure reliability
  .gitignore
  Taskfile.yml
  test/features/health.feature
  test/load/k6/health.js
Due: misspell, prettier

fix: address code review feedback
  test/integration/suite_test.go
  test/load/k6/health.js
Due: go-mod-tidy, golangci-lint, gofumpt, misspell

feat: add CI/CD pipeline with GitHub Actions
  .github/dependabot.yml
  .github/workflows/.gitkeep
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Taskfile.yml
Due: actionlint, misspell, prettier

fix: address code review feedback
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: actionlint, misspell

fix: upgrade Go to 1.25.6 for security fixes
  go.mod
Due: none

docs: create ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: markdownlint, misspell, prettier

docs: create playbook how-to guides
  docs/playbook/README.md
  docs/playbook/adding-custom-metrics.md
  docs/playbook/adding-downstream-client.md
  docs/playbook/adding-endpoint.md
  docs/playbook/adding-health-check.md
  docs/playbook/implementing-feature-flag.md
  docs/playbook/writing-benchmark-tests.md
  docs/playbook/writing-integration-tests.md
  docs/playbook/writing-load-tests.md
  docs/playbook/writing-unit-tests.md
Due: markdownlint, misspell, prettier

docs: create TROUBLESHOOTING.md guide
  docs/TROUBLESHOOTING.md
Due: markdownlint, misspell, prettier

docs: finalize README.md
  README.md
Due: markdownlint, misspell, prettier

docs: update PATTERNS.md
  docs/PATTERNS.md
Due: markdownlint, misspell, prettier

feat: add IDE configs for VS Code and GoLand
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/encodings.xml
  .idea/externalDependencies.xml
  .idea/go.imports.xml
  .idea/golangci.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/runConfigurations/Debug_Benchmarks.xml
  .idea/runConfigurations/Debug_Integration_Tests__all_.xml
  .idea/runConfigurations/Debug_Integration_Tests__smoke_.xml
  .idea/runConfigurations/Debug_Unit_Tests.xml
  .idea/runConfigurations/Run_Service.xml
  .idea/runConfigurations/Run_Service__Debug_Logging_.xml
  .idea/runConfigurations/Task__build.xml
  .idea/runConfigurations/Task__ci.xml
  .idea/runConfigurations/Task__clean.xml
  .idea/runConfigurations/Task__coverage.xml
  .idea/runConfigurations/Task__docker_build.xml
  .idea/runConfigurations/Task__docker_run.xml
  .idea/runConfigurations/Task__fmt.xml
  .idea/runConfigurations/Task__generate.xml
  .idea/runConfigurations/Task__lint.xml
  .idea/runConfigurations/Task__openapi_diff.xml
  .idea/runConfigurations/Task__openapi_validate.xml
  .idea/runConfigurations/Task__run.xml
  .idea/runConfigurations/Task__setup.xml
  .idea/runConfigurations/Task__test.xml
  .idea/runConfigurations/Task__test_benchmark.xml
  .idea/runConfigurations/Task__test_e2e.xml
  .idea/runConfigurations/Task__test_integration.xml
  .idea/runConfigurations/Task__test_integration_all.xml
  .idea/runConfigurations/Task__test_load.xml
  .idea/runConfigurations/Task__vuln.xml
  .idea/vcs.xml
  .idea/watcherTasks.xml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: misspell, prettier

fix: address code review for IDE configs
  .gitignore
  .idea/.gitignore
  .idea/golinter.xml
  .idea/runConfigurations/Debug_Benchmarks.xml
  .idea/runConfigurations/Debug_Integration_Tests__all_.xml
  .idea/runConfigurations/Debug_Integration_Tests__smoke_.xml
  .idea/runConfigurations/Debug_Unit_Tests.xml
  .idea/runConfigurations/Run_Service.xml
  .idea/runConfigurations/Run_Service__Debug_Logging_.xml
Due: none

feat: add .air.toml hot-reload configuration
  .air.toml
Due: tomll, misspell

chore: added serena config to gitignore
  .gitignore
Due: none

feat: add styled help and new task commands
  README.md
  Taskfile.yml
  go.mod
  go.sum
Due: markdownlint, misspell, prettier

fix: simplify Dockerfile build stages
  Dockerfile
Due: hadolint

feat: add pretty logging and rolling file support
  .gitignore
  cmd/service/main.go
  configs/local.yaml
  go.mod
  go.sum
  internal/platform/config/config.go
  internal/platform/logging/logger.go
  internal/platform/logging/multi_handler.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell, prettier

docs: add IDE setup guide
  docs/IDE_SETUP.md
Due: markdownlint, misspell, prettier

feat: add HOST_PORT option to docker:run
  Taskfile.yml
Due: misspell, prettier

feat: add octocov for coverage reporting
  .github/workflows/ci.yaml
  .octocov.yml
  README.md
  Taskfile.yml
  docs/IDE_SETUP.md
  go.mod
  go.sum
Due: actionlint, markdownlint, misspell, prettier

chore: cleanup redundant files and configs
  lefthook.yml
  test/benchmark/.gitkeep
  test/features/.gitkeep
  test/features/errors.feature
  test/integration/.gitkeep
  test/integration/adapter_integration_test.go
  test/integration/client_integration_test.go
  test/integration/concurrent_integration_test.go
  test/integration/config_integration_test.go
  test/load/k6/.gitkeep
Due: go-mod-tidy, golangci-lint, gofumpt, misspell, prettier

chore: autoformatted code
  test/integration/config_integration_test.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell

fix: restore gofumpt hook for build-tagged files
  lefthook.yml
Due: misspell, prettier

docs: add ADR infrastructure
  README.md
  docs/ARCHITECTURE.md
  docs/adr/0001-hexagonal-architecture.md
  docs/adr/README.md
  docs/adr/template.md
Due: markdownlint, misspell, prettier

docs: add sub-domain organization guide
  docs/ARCHITECTURE.md
Due: markdownlint, misspell, prettier

feat: externalize config and add validation tests
  cmd/service/main.go
  configs/base.yaml
  internal/adapters/clients/client.go
  internal/platform/config/config.go
  internal/platform/config/config_test.go
  internal/platform/config/validation_test.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell, prettier

docs: add developer guides documentation
  CONTRIBUTING.md
  README.md
  docs/TROUBLESHOOTING.md
Due: markdownlint, misspell, prettier

docs: fix verb usage in CONTRIBUTING.md
  CONTRIBUTING.md
Due: markdownlint, misspell, prettier

chore: add .dockerignore file
  .dockerignore
Due: none

feat(taskfile): add workflow shortcut tasks
  Taskfile.yml
Due: misspell, prettier

feat(docker): add IMAGE_NAME and docker:clean
  Taskfile.yml
Due: misspell, prettier

fix(ci): enable octocov badge push to branch
  .octocov.yml
Due: misspell, prettier

refactor(hooks): use task for pre-push
  lefthook.yml
Due: misspell, prettier

feat(logging): add trace log level
  internal/platform/config/config.go
  internal/platform/config/validation_test.go
  internal/platform/logging/logger.go
Due: go-mod-tidy, golangci-lint, gofumpt, misspell
